.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 80px 0;
}

.solve-btn {
    margin: 80px 0;
}

.box-container {
    margin: 20px 0;
    display: flex;
}

.box-container .box {
    margin: 0 20px;
    padding: 10px;
    border: 5px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-glasses {
    font-size: 5em;
    margin-bottom: 60px;
}

.cloth-image {
    width: 150px;
}

.colors-container {
    display: flex;
}

.color {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 3px solid lightgrey;
    cursor: pointer;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: saddlebrown;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}